<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find mybot_control)/config/mybot_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/mybot" args="joint_state_controller
                                    front_wheel_L_joint_velocity_controller
                                    middle_wheel_L_joint_velocity_controller
                                    back_wheel_L_joint_velocity_controller
                                    front_wheel_R_joint_velocity_controller
                                    middle_wheel_R_joint_velocity_controller
                                    back_wheel_R_joint_velocity_controller
                                    sterring_F_L_joint_position_controller
                                    sterring_B_L_joint_position_controller
                                    sterring_F_R_joint_position_controller
                                    sterring_B_R_joint_position_controller"/>


  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find mybot_description)/urdf/mybot.xacro'" />
    <remap from="/joint_states" to="/mybot/joint_states" />
  </node>

</launch>
